@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@400;500;600;700;800;900&display=swap");

@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css");

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


/* COLORS */

:root {
  --main-green: #00FF00;
  --main-black: #000000;
  --main-yellow: #FFD700;
  --main-blue: #2C42ED;
  --main-purple: #8B19FF;
  --main-op-yellow: #ffd90082;
  --main-op-purple: #8c19ff84;
  --main-op-green: #00ff007e;
  --secondary-op-blue: #1d26cf83;
  --secondary-light-blue: #5550E2;
  --secondary-blue: #1D25CF;
  --outbound-carnage-red: #F83D33;
  --outbound-deep-orange: #F57045;
  --outbound-pasion-orange: #B44A32;
  --outbound-power-yellow: #FFD732;
  --outbound-golden-yellow: #ECC462;
  --outbound-warm-orange: #9F6631;
  --third-fresh-green: #14EF5B;
  --third-apple-green: #9CDE34;
  --third-military-green: #47984B;
  --title-barbie-pink: #F91A6B;
  --title-bright-pink: #FB649D;
  --title-gumm-pink: #FD779C;
  --inter: #2b2b2b;
  --white: #eceff1;
  --adder: #212121;
}


/* BODY */

body {
    place-items: center;
    font-family: "League Spartan", system-ui, sans-serif;
    font-size: 1.1rem;
    line-height: 1.2;
    background: url(../img/Star_Map_16k_20220302.png);
    color: #ddd;
}

html,
body {
  height: 100%;
  min-height: 100vh;
}

/* HEADER */

header {
    background: var(--main-black);
}

#position {
    position: relative;
}

#logo, .logo {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1000;
    margin-top: 1vh;
    max-width: 40vw;
    background: url(../img/01_Starlyx_Logo_Asset_White_v1.svg);
    background-repeat: no-repeat;
}

h1 {
    text-indent: -8000px;
    overflow: hidden;
}

header div div {
    align-items: center;
}

.nav-item .nav-link {
    color: white;
}

.navbar-nav .nav-link.active, .navbar-nav .nav-link.show {
    color: var(--main-yellow);
    text-decoration: underline;
}

.navbar-toggler-icon {
    background-image: url(../img/01_Menu_Icon_Asset_White_v1.svg);
}

.navbar-toggler {
    border: 1px white solid;
}

.navbar ul li a:hover {
  text-decoration: underline;
}

/* SECTION 01 */

#section-01 {
    margin: 15vh 0;
}

#section-01 article {
    background-color: var(--inter);
    border: 1px solid #eceff133;
    border-radius: 15px;
    border-radius: 37px 37px 37px 37px;
    -webkit-border-radius: 37px 37px 37px 37px;
    -moz-border-radius: 37px 37px 37px 37px;
    margin: 1vh;
    padding: 2rem 0;
}

#sec-01-art-02 {
    align-self: center;
}

/* MAIN PILLS */

ul {
  list-style: none;
}

ol, ul {
    padding-left: 0;
}

.main {
  max-width: 75rem;
  padding: 3em 1.5em;
  margin: auto;
}

.main__heading {
  font-weight: 600;
  font-size: 2.25em;
  margin-bottom: 0.75em;
  text-align: center;
  color: #eceff1;
}

.cards {
  position: relative;
}

.cards__inner {
  display: flex;
  flex-wrap: wrap;
  gap: 2.5em;
}

.card {
  --flow-space: 0.5em;
  --hsl: var(--hue), var(--saturation), var(--lightness);
  flex: 1 1 14rem;
  padding: 1.5em 2em;
  display: grid;
  grid-template-rows: auto auto;
  align-items: start;
  /* gap: 1.25em; */
  color: #eceff1;
  background-color: var(--secondary-blue);
  border: 1px solid #eceff133;
  border-radius: 15px;
}

.card:nth-child(1) {
  --hue: 165;
  --saturation: 82.26%;
  --lightness: 51.37%;
}

.card:nth-child(2) {
  --hue: 291.34;
  --saturation: 95.9%;
  --lightness: 61.76%;
}

.card:nth-child(3) {
  --hue: 338.69;
  --saturation: 100%;
  --lightness: 48.04%;
}

.card__bullets {
  line-height: 1.4;
}

.card__bullets li::before {
  display: inline-block;
  content: url(../resources/caret-up-fill.svg);
  transform: translatey(0.25ch);
  margin-right: 1ch;
}

.card__heading {
  font-size: 1.05em;
  font-weight: 600;
}

.card__price {
  font-size: 1.75em;
  font-weight: 700;
}

.flow > * + * {
  margin-top: var(--flow-space, 1.25em);
}

.cta {
  display: block;
  align-self: end;
  margin: 1em 0 0.5em 0;
  text-align: center;
  text-decoration: none;
  color: #fff;
  background-color: #0d0d0d;
  padding: 0.7em;
  border-radius: 10px;
  font-size: 1rem;
  font-weight: 600;
}

.overlay {
  position: absolute;
  inset: 0;
  pointer-events: none;
  user-select: none;
  opacity: var(--opacity, 0);
  -webkit-mask: radial-gradient(25rem 25rem at var(--x) var(--y),#000 1%,transparent 50%);
  mask: radial-gradient(25rem 25rem at var(--x) var(--y),#000 1%, transparent 50%);
  transition: 400ms mask ease;
  will-change: mask;
}

.overlay .card {
  background-color: hsla(var(--hsl), 0.15);
  border-color: hsla(var(--hsl), 1);
  box-shadow: 0 0 0 1px inset hsl(var(--hsl));
}

.overlay .cta {
  display: block;
  grid-row: -1;
  width: 100%;
  background-color: hsl(var(--hsl));
  box-shadow: 0 0 0 1px hsl(var(--hsl));
}

:not(.overlay) > .card {
  transition: 400ms background ease;
  will-change: background;
}

:not(.overlay) > .card:hover {
  --lightness: 95%;
  background: hsla(var(--hsl), 0.1);
}

.blue {
  color: #eceff1;
  background-color: var(--main-blue);
}

.violet {
  color: #eceff1;
  background-color: var(--main-purple);
}

.yellow {
  color: var(--main-black);
  background-color: var(--main-yellow);
}

.card-whole {
  padding: 0;
  border: 1px solid #eceff133;
}

.card-img-overlay {
  top: initial;
}

.card-img, .card-img-top {
  border-radius: 15px;
}

.fd-c {
  flex-direction: column;
}

.profile {
  border-radius: 200px 200px 200px 200px;
  -webkit-border-radius: 200px 200px 200px 200px;
  -moz-border-radius: 200px 200px 200px 200px;
  max-width: 35%;
  border: var(--white) solid 5px;
  margin-bottom: 1rem;
}

:not(.overlay) > .card:hover {
  --lightness: 95%;
  color: var(--white);
}

.card h5 {
  font-weight: bold;
}

/* ACCORDION SECTION */

.accordion-item {
  background-color: var(--secondary-light-blue);
  border: none;
  color: var(--white);
}

.accordion-button {
  background-color: var(--secondary-light-blue);
  border: none;
  color: var(--white);
  font-weight: bolder;
  font-size: 1.5rem;
}

.accordion-button:not(.collapsed) {
    color: var(--white);
    background-color: var(--secondary-light-blue);
    box-shadow: none;
}

#accordion-section {
  background-color: var(--secondary-light-blue);
  border-radius: 16px 16px 16px 16px;
  -webkit-border-radius: 16px 16px 16px 16px;
  -moz-border-radius: 16px 16px 16px 16px;
  border: 1px solid #eceff133;
}

.accordion-button:not(.collapsed)::after {
  background-image: url(../resources/caret-down-fill.svg);
  color: var(--white);
}

.accordion {
  --bs-accordion-btn-icon: url(../resources/caret-down-fill.svg);
}

/* TUB SECTION */

.text-body-secondary {
  color: var(--white)!important;
}

.card-group > .card {
  flex: 1 0 0%;
  margin-bottom: 0;
}

/* ASTRO SECTION */

.card__bullets-astro li::before {
  display: inline-block;
  content: url(../resources/check.svg);
  transform: translatey(0.25ch);
  margin-right: 1ch;
}

/*-GALERIA DE IMAGENES-*/

#sec-galeria {
  position: relative;
  width: 100%;
  max-width: 75vw;
  margin: 0 auto 7rem;
  text-align: center;
}

#sec-galeria figure a {
  text-decoration: none;
}

#sec-galeria figure a img{
  width: calc(75vw / 5.05);
  animation: sec-04 2s ease 2s 1 normal backwards;
}

#sec-galeria figure a img:hover {
  transform: scale(1.03);
  box-shadow: 0px 0px 31px 0px rgba(141,78,235,0.35);
  -webkit-box-shadow: 0px 0px 31px 0px rgba(141,78,235,0.35);
  -moz-box-shadow: 0px 0px 31px 0px rgba(141,78,235,0.35);
}

/* FORM */

.form-con {
  padding: 2rem;
  background: var(--adder);
  border-radius: 15px;
  border: 1px solid #eceff133;
}

.btn-primary {
  background: var(--main-blue);
}

.k-l {
  border-radius: 15px;
}

div h5 {
  font-weight: bold;
}

/* FOOTER */

footer {
  background: var(--main-black);
}

#copyright {
  background: var(--main-blue);
}


/* SCREEN MOBILE */

@media screen and (max-width: 768px) {
    #logo {
        left: calc(50% - 100px);
    }

    header ul li:nth-last-child(even) {
        background-color: rgb(19, 19, 19);
    }

    header ul li:nth-last-child(odd) {
        background-color: rgb(0, 0, 0);
    }

    #section-01 article {
        padding: 2rem 4rem;
    }

    .card-group > .card {
      flex: initial;
      margin-bottom: 0;
    }

    .card {
      border-radius: 15px;
      margin: 2rem 0;
    }

    #sec-galeria figure a img{
      width: calc(75vw / 3);
      animation: sec-04 2s ease 2s 1 normal backwards;
    }
    
}


@media  screen and (min-with: 992px) {

  #sec-06 iframe {
    width: 75vw;
    height: 60vh;
  }

  #sec-galeria {
      position: relative;
      width: 100%;
      max-width: 75vw;
      margin: 0 auto 7rem;
      text-align: center;
  }

  #sec-galeria figure a {
      text-decoration: none;
  }

  #sec-galeria figure a img{
      width: calc(75vw / 3.5);
  }

  .card-group > .card {
    flex: 1 0 0%;
    margin-bottom: 0;
  }
  
}
