* {
    margin: 0;
    padding: 0;
}

/* HEADER */

header {
    background: blue;
}

#position {
    position: relative;
}

#logo {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1000;
    max-width: 40vw;
}



@media screen and (max-width: 768px) {
    #logo {
        left: calc(50% - 100px);
    }

    header ul li:nth-last-child(even) {
        background-color: aquamarine;
    }
    
}

